@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@200&family=Roboto&family=Yellowtail&display=swap");


* {
	margin: 0;
	padding: 0;
	font-family: "PT Serif", serif;
	box-sizing: border-box;
}
body {
	padding-bottom: 20px;
}
button:hover {
	cursor: pointer;
}
.mt-5 {
	margin-top: 25px;
}
.story {
	background-color: #f5f2ed;
}
.btn-primary {
	cursor: pointer;
	background-color: #efa27d;
	padding: 18px 58px;
	font-size: medium;
	border: none;
	color: #fff;
	font-weight: 400;
}
.storyBtn {
	margin-top: 80px;
	margin-left: 70px;
}
.btn-semicircle {
	height: 30px;
	width: 50px;
	bottom: 0;
	margin-top: 10px;
	margin-bottom: -20px;
	border: none;
	background-color: #f5f2ed;
	border-radius: 100px 100px 0 0;
}
.container {
	width: 95% !important;
	margin-left: auto;
	margin-right: auto;
}
nav {
	position: fixed;
}
.topnav {
	position: relative;
	overflow: hidden;
	background-color: #f3f1ec;
	padding: 1em 0 0.9em;
	text-align: center;
}

ul.topnav-centered li {
	display: inline;
	text-align: center;
}

.topnav-centered li a {
	text-decoration: none;
	color: #808369;
	font-size: 14px;
	font-weight: 600;
}

.topnav-centered a {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	flex-grow: 1;
	flex-basis: auto;
	margin: 0.23em 0;
	padding: 0 1em;
	border-left: 1px solid #ccc;
}

.d-none {
	display: none !important;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	color: #808369;
	font-size: 14px;
	font-weight: 600;
}

.contact {
	text-align: right;
	position: relative;
	margin-right: 50px;
}

.centerLogo {
	text-align: center;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.home .logo {
	height: 120px;
	width: 120px;
	margin-bottom: -60px;
}
.logo {
	height: 100px;
	width: 100px;
}

.cartDetails {
	text-align: left;
	position: relative;
	margin-left: 50px;
}

.custom-orange-color {
	color: #efa27d;
}

.imgresponsive {
	width: 100%;
	height: auto;
}

.slider-holder {
	position: relative;
}

.image-holder {
	position: relative;
}

.imgTextCentered {
	position: absolute;
	color: #fff;
	z-index: 3;
	font-size: 50px;
	top: 200px;
	left: 52%;
	transform: translate(-50%, -50%);
}

.border-white-top-circle {
	position: absolute;
	top: -70px;
	left: 42%;
	transform: rotate(180deg);
	height: 130px;
	width: 230px;
	border-radius: 500px 500px 0 0;
	background-color: white;
}

.border-white-top {
	width: 85px;
	border-top: 5px solid white;
}

.border-white-bottom {
	width: 85px;

	border-top: 5px solid white;
}
.border-white-bottom-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 95px;
	width: 150px;
	border-radius: 150px 150px 0 0;
	background-color: white;
}

.centerbutton {
	position: absolute;
	top: 65%;
	left: 45%;
	opacity: 1;
}

.orderservicebutton {
	font-size: 15px;
	padding: 15px 35px;
	background-color: #efa27d;
	color: #fff;
	font-weight: bold;
	border: none;
}

.text-center {
	text-align: center;
}

.smallHeader {
	position: relative;
	margin-top: 50px;
	font-size: 0.8em;
	font-weight: 700;
	color: #808369;
}

.bigHeader {
	margin-top: 5px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
}
.cardcolumn {
	float: left;
	width: 30%;
	padding: 10px;
}
.horizontal-flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin: 50px;
	padding: 10px;
}
.imgcardresponsive {
	width: 100%;
	filter: brightness(50%);
	padding: 15px;
}

.imgcardresponsive:hover {
	width: 100%;
	filter: brightness(100%);
	transition: 1s;
	padding: 15px;
}

.cardimgtext {
	position: relative;
	text-align: center;
	top: -50%;
	color: #fff;
	font-size: 3rem;
}

.aboutus {
}

.aboutHeading {
	position: relative;
	margin-bottom: 250px;
	top: -50% !important;
	z-index: 1;
}
.textcenter {
	position: relative;
}
.textcenter figcaption {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
}
.custom-text-header {
	font-size: 2.5rem;
}

.textcenter .card-container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	top: 65%;
	left: 10%;
	overflow: hidden;
}

/*add this it*/
.card-image {
	display: flex;
}
/*-------------*/

div.card-image img {
	width: 50%;
	height: auto;
}

.ourmenu {
	position: relative;
	top: 20%;
}
.menuitems {
	position: relative;
	top: 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	column-gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fourcard {
	background-color: #fff;
	float: left;
	width: 18%;
	margin: 15px;
	padding: 15px 15px 0 15px;
	text-align: center;
}

.card-footer-text {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	color: #808369;
}
.custom-extra-text {
	margin-top: 50px;
	font-size: 1.429rem;
	font-weight: 700;
	text-align: center;
	color: #808369;
}
.custom-full-menu {
	margin-top: 50px;
	text-align: center;
}
.clienaboutus {
	background-image: url("./../img/main_bg.jpg") !important;
	background-size: auto;
}
.flash:hover {
	filter: brightness(50%);
	transition: 0.8s;
}

.fourcard:hover .textdisplay {
	opacity: 1;
	filter: brightness(100%);
	position: absolute;
	color: #fff;
	z-index: 1;
}
.fourcard:hover .imgresponsive {
	filter: brightness(50%);
}
.textdisplay {
	position: absolute;
	width: 200px;
	opacity: 0;
	top: 30%;
	margin-left: 15px;
	text-align: center;
	transition: 0.5s;
	color: #fff !important;
}
/* Header Css*/
.header {
	display: flex;
}
.header_column {
	align-self: center;
}

/* Hero CSS */
.hero_banner_container {
	height: 630px;
	display: none;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	background-image: url("./../img/shutterstock_1198340449\ -\ Slider\ 1.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-blend-mode: overlay;
}
.hero_content {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.hero_text {
	color: #fff;
	z-index: 1;
	font-size: 50px;
	margin: 36px 0;
	font-size: 48px;
}
.hero_btn {
	margin-top: 40px;
}
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot_active {
	background-color: #717171;
}

/* Heading */
.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 120px;
	text-align: center;
	background-image: url("./../img/title_bg_green.webp");
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto 97px;
}
.sub_heading {
	z-index: 3;
	color: #808369;
	font-size: 14px;
}
.main_heading {
	z-index: 3;
	color: #434343;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.heading_underline {
	height: 2px;
	width: 120px;
	background-color: #808369;
}

/* Catering CSS */
.catering_card {
	height: 470px;
	width: 370px;
	background-size: cover;
	background-position: center;
	flex-direction: column;
	background-blend-mode: overlay;
	display: flex;
	align-items: center;
	justify-content: center;
}
.catering_card_1 {
	background-image: url("./../img/welcome_img1.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.catering_card_2 {
	background-image: url("./../img/welcome_img2.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.catering_card_3 {
	background-image: url("./../img/welcome_img3.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.fontCursive {
	font-size: 45px;
	color: #fff;
	text-align: center;
	font-family: "Yellowtail", cursive !important;
}
.catering_text_container {
	flex: 1;
	width: 50%;
	display: flex;
	align-items: center;
}
.catering_btn {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 36px;
	width: 72px;
	bottom: 0;
	border: none;
	background-color: #fff;
	border-radius: 100px 100px 0 0;
}

/* About CSS */
.aboutus_image {
	height: 570px;
	object-fit: cover;
	overflow: visible;
}
.aboutus .heading {
	margin-top: -450px;
	margin-bottom: 70px;
}
.aboutus .heading .main_heading,
.aboutus .heading .sub_heading {
	color: #fff;
}
.aboutus .heading .heading_underline {
	background-color: #fff;
}
.aboutus_card_container {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	z-index: 1;
}

.float-layout {
	padding: 5px 5px;
	height: auto;
	box-sizing: border-box;
	margin: 0;
}

.card {
	background-color: #fff;
	color: #808369;
	width: 50%;
}

.card-title {
	font-size: 1.571rem;
	text-align: left;
	font-weight: bold;
	padding-top: 20px;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.card-desc {
	color: #929292;
	margin-left: 70px;
	margin-right: 70px;
	text-align: left;
	line-height: 1.5;
	font-size: 15px;
	width: "80%";
}

/* Client CSS */
.client {
	height: 715px;
	background-image: url("./../img/shutterstock_1198340449-Slider1.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-blend-mode: overlay;
	background-position: center;
	background-size: cover;
	margin: 100px 0;
	padding-top: 10px;
}
.client .heading .main_heading,
.client .heading .sub_heading {
	color: #fff;
}
.client .heading .heading_underline {
	background-color: #fff;
}
.client_content {
	text-align: center;
	margin-top: 80px;
}
.client_feedback {
	color: #fff;
	font-size: 20px;
	width: 70%;
	margin: 0 auto;
	font-weight: bold;
}
.client_image {
	height: 96px;
	width: 96px;
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: 30px;
}
.client_name {
	color: #fff;
	font-size: 14px;
}

/* Menu CSS */
.menu_btn {
	margin-bottom: 100px;
}
/* Event CSS */
.eventImg {
	height: 430px;
	width: 100%;
	border-radius: 300px;
}
.event_btn {
	margin-top: 50px;
	margin-bottom: 100px;
}
.event_left_column {
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.event_right_column {
	text-align: left;
}
.event_detail_container {
	display: flex;
	margin-bottom: 40px;
	width: 70%;
}
.event_number:hover {
	color: #efa27d;
}
.event_title {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-top: 10px;
	color: #808369;
	border-bottom: 3px solid #808369;
}
.event_number {
	color: #eae7e0;
	font-size: 35px;
}
.event_left_column .event_number {
	margin-left: 15px;
}
.event_right_column .event_number {
	margin-right: 15px;
}
.event_description {
	color: #929292;
	margin-top: 25px;
	font-size: 14px;
}

/* Book CSS */
.book_section {
	text-align: center;
}
.request_btn {
	position: absolute;
	top: 65%;
	left: 42%;
	z-index: 3;
}

/* Testimonial CSS */
.testimonial {
	background-color: #f5f2ed;
	margin-top: -50px;
	padding: 100px;
}
.testimonial_card {
	margin-top: 100px;
	background-color: #fff;
	padding: 0 0 20px 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
}
.testimonial_image {
	height: 95px;
	width: 95px;
	margin-top: -50px;
	border-radius: 100px;
	border: 10px solid #f5f2ed;
}
.testimonial_text {
	color: #929292;
	font-size: 20px;
	width: 80%;
	margin: 20px auto;
	margin-bottom: 40px;
	font-weight: 500;
}
.testimonial_author {
	color: #929292;
	font-size: 14px;
	border-top: 1px solid #929292;
	padding-top: 20px;
}
.testimonial_btn {
	height: 71px;
	width: 50px;
	bottom: 0;
	margin-top: 10px;
	margin-bottom: -20px;
	border: none;
	background-color: #f5f2ed;
}
.testimonial_btn_left {
	display: flex;
	align-items: center;
	border-radius: 0 100px 100px 0;
}
.testimonial_btn_right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 100px 0 0 100px;
}

/* Blog CSS */
.blogs_container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.blog_card {
	width: 360px;
}
.blog_img {
	height: 200px;
	width: 360px;
}
.blog_date {
	color: #808369;
	margin-top: 20px;
	margin-bottom: 15px;
}
.blog_text {
	color: #434343;
	font-size: 20px;
	font-weight: bold;
}
.articles_btn {
	margin-top: 50px;
}

/* Team CSS */
.projects_container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.project_card {
	width: 360px;
}
.project_img {
	height: 260px;
	width: 410px;
	margin-bottom: 20px;
}
.articles_btn {
	margin-top: 50px;
}

/* Projects CSS */
.teams_container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.team_card {
	width: 360px;
}
.team_img {
	height: 240px;
	width: 240px;
	border-radius: 50%;
}
.team_name {
	color: #808369;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
.team_designation {
	color: #929292;
	font-size: 15px;
}
.articles_btn {
	margin-top: 50px;
}

/* Feedback CSS */
.input_text {
	width: 100%;
	height: 40px;
	padding: 25px 20px;
	border: 2px solid #ebebe7;
	border-radius: 5px;
}
.input_text:focus {
	outline: none !important;
	border: 2px solid #efa27d;
}
textarea {
	resize: vertical;
	min-height: 200px;
}
.message_btn {
}
.feedback {
	width: 60%;
	margin: 0 auto;
}
.feedback_heading {
	margin-top: 0;
	margin-bottom: 50px;
}
.feedback_condition {
	margin: 20px 0 10px 0;
}
.feedback_container {
	background-color: #f5f2ed;
	padding: 100px;
	margin-top: 50px;
}
.feedback_top {
	display: flex;
}
.feedback_top {
	flex: 1;
}
.feedback_top .input_text {
	width: 95%;
}
.feedback .input_text:first-child {
	margin-right: 5px;
}
.feedback .input_text:last-child {
	margin-left: 5px;
}
.feedback textarea {
	margin-top: 10px;
}

/* Footer CSS */
.footer_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}
.footer_text {
	color: #808369;
	font-size: 13px;
}
.footer_logo {
	height: 90px;
	margin: 0 50px;
}
.footer_icon {
	text-align: center;
	padding-top: 13px;
	background-color: #a7a99a;
	color: #fff;
	border-radius: 50%;
	margin: 0 10px;
	height: 40px;
	width: 40px;
}
.footer_icon_wrapper {
	display: flex;
	justify-content: center;
}
.footer_column {
	width: 250px;
}
.footer_icon:hover {
	background-color: #efa27d;
	cursor: pointer;
}

/* 
//////////////////////////////	ABOUT US PAGE /////////////////////////////////////////////
*/

/* Banner CSS */
.banner {
	height: 330px;
	background-image: url("./../img/shutterstock_654336859-Slide2.jpg"),
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-blend-mode: overlay;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.banner_title {
	font-size: 35px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
}
.banner_path {
	font-size: 14px;
	color: #fff;
}

/* Catering CSS*/
.catering_card_wrapper {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.catering_img_wrapper {
	height: 235px;
	width: 235px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: flex;
}
.catering_img {
	flex: 1;
}
.catering_category {
	font-size: 16px;
	color: #808369;
	margin-top: 32px;
	margin-bottom: 10px;
}
.catering_btn_down {
	padding: 10px;
}

/* Team CSS */
.team_card_outer_wrapper,
.gallery_outer_wrapper,
.catering_outer_wrapper,
.menu_outer_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team_card_wrapper {
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.team_card {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team_img_wrapper {
	height: 235px;
	width: 235px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: flex;
}
.team_img {
	flex: 1;
}
.team_name {
	font-size: 20px;
	color: #808369;
	margin-top: 32px;
	margin-bottom: 5px;
}
.team .team_designation {
	font-size: 14px;
	color: #929292;
}
/* Gallery CSS */
.gallery {
	background-color: #f5f2ed;
	padding: 100px 0;
	margin-top: 100px;
}
.gallery_heading {
	margin-top: 0;
	margin-bottom: 50px;
}
.galler_image_container {
	display: flex;
}
.gallery_image_wrapper {
	display: flex;
	flex: 1;
	width: 97%;
	margin: 10px auto;
	overflow: hidden;
}
.gallery_img {
	height: 325px;
	background-size: cover;
}
.gallery_btn {
	margin-top: 30px;
}

/*
//////////////////////////////////// MENU ///////////////////////////////////////////////////////////////
*/
/* Menu CSS */
.menu_selector_wrapper {
	display: flex;
	width: 40%;
	margin-bottom: 50px;
	justify-content: space-evenly;
}
.menu_selector {
	flex-direction: column;
	display: flex;
	align-items: center;
}
.menu_column {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	animation: fadeEffect 1s;
}
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.menu_card {
	width: 47%;
	margin: 0 auto;
	display: flex;
	padding: 20px 0;
	border-bottom: 1px solid #f3f1ec;
}
.menu_price {
	color: #434343;
	font-size: 28px;
	font-weight: bold;
}
.menu_card_inner_wrapper {
	display: flex;
	align-items: center;
}
.menu_title {
	font-size: 22px;
	color: #808369;
	font-weight: bold;
}
.menu_description {
	width: 70%;
	font-size: 14px;
	color: #929292;
	margin-top: 14px;
}
.menu_tag {
	font-size: 14px;
	padding: 2px 8px;
	margin-left: 28px;
	background-color: #ffb18b;
	color: #fff;
}
.menu_outer_wrapper {
}
.menu_category {
	font-size: 16px;
	color: #808369;
	margin-top: 22px;
	padding: 10px;
}
.menu_btn_down {
	padding: 10px;
	animation: fadeEffect 1s;
}
.menu_category:hover {
	color: #434343;
	cursor: pointer;
}

/* Phone Devices Query */
@media only screen and (max-width: 37.5em) {
	div.card-image img {
		width: 100%;
		height: auto;
	}

	/*add this it*/
	.card-image {
		flex-direction: column;
	}
	/*----------------------*/

	.card {
		width: 100%;
		margin-top: -4px;
	}
}

/* #region Media queries */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* #endregion Media queries */

/* #region Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
	.topnav a,
	.topnav-right {
		float: none;
		display: block;
	}

	.topnav-centered a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
}

/* #endregion Responsive navigation menu (for mobile devices) */
